.loader {
  position: relative;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 80;
  // à retirer
  .bloc1 {
    position: absolute;
    z-index: 81;
    top: 0;
    height: 26vh;
    width: 100%;
    background: white;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    border: 2px solid white;
  }
  .bloc2 {
    background: white;
    position: absolute;
    z-index: 81;
    top: 0;
    height: 50vh;
    width: 100%;
    border: 2px solid white;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
  }

  .bloc4 {
    position: absolute;
    z-index: 81;
    bottom: 0;
    height: 50vh;
    width: 100%;
    background: white;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    border: 2px solid white;
  }
  .bloc5 {
    position: absolute;
    z-index: 85;
    bottom: 25%;
    height: 50vh;
    width: 100%;
    background: white;
    clip-path: polygon(100% 0%, 0 50%, 100% 100%);
    border: 2px solid white;
  }
  .bloc6 {
    position: relative;
    position: absolute;
    z-index: 85;
    bottom: 0%;
    height: 25vh;
    width: 100%;
    background: white;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    border: 2px solid white;
  }

  h2 {
    top: 37%;
    position: absolute;
    z-index: 150;
    @media (max-width: 800px) {
      top: 28%;
    }
  }

  .circle {
    position: relative;
    display: flex;
    border-radius: 50%;
    z-index: 85;
    height: 150px;
    width: 150px;

    .box {
      display: flex;
      z-index: 100;
      color: white;
      background: black;
      height: 10%;
      width: 10%;
      box-shadow: 0px 0px 5px 1px rgb(255, 255, 255);
      filter: drop-shadow(1px 1px 1px black);
    }

    #box1 {
      top: 40%;
      right: 0;
      position: absolute;
    }
    #box2 {
      bottom: 0;
      left: 45%;
      position: absolute;
    }
    #box3 {
      top: 0;
      left: 45%;
      position: absolute;
    }
    #box4 {
      top: 40%;
      position: absolute;
    }
    #box5 {
      left: 10%;
      bottom: 10%;
      position: absolute;
    }
    #box6 {
      top: 10%;
      left: 80%;
      position: absolute;
    }
    #box8 {
      top: 10%;
      left: 10%;
      position: absolute;
    }
    #box7 {
      bottom: 10%;
      right: 10%;
      position: absolute;
    }
  }
  .initial {
    top: 48%;
    z-index: 100;
    color: black;

    position: absolute;
  }
}
